* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  color: rgb(255, 255, 255);
}

textarea,
input {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: radial-gradient(circle at 50% 50%, #555555, #111111);
  background-attachment: fixed;
}

header {
  height: 650px;
}
@media (min-width: 700px) {
  header {
    height: 800px;
  }
}

.card {
  margin: 2rem;
  border-radius: 25px;
  object-fit: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
}
@media (min-width: 700px) {
  .card {
    flex-direction: row;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 5rem;
    border-radius: 15px;
  }
}
.card .block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .card .block {
    width: 50%;
    justify-content: center;
  }
}

@media (min-width: 700px) {
  #card-reverse {
    flex-direction: row-reverse;
  }
}

.Media {
  background-image: url(/pictures/gbw_print_bg.png);
  background-size: cover;
}
.Media .picMedia {
  background-image: url(/pictures/gbw_print.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 5px 10px 30px black;
  border: 1px solid rgb(255, 255, 255);
  height: 250px;
}
@media (min-width: 700px) {
  .Media .picMedia {
    height: 300px;
  }
}

.Web {
  background-image: url(/pictures/maddin_bg.png);
  background-size: cover;
}
.Web .picWeb {
  background-image: url(/pictures/gbw_web.png);
  background-position: center;
  background-size: cover;
  background-position: top;
  box-shadow: 5px 10px 30px black;
  height: 450px;
}
@media (min-width: 700px) {
  .Web .picWeb {
    height: 660px;
  }
}

.Brand {
  background-image: url(/pictures/gbw_brand_bg.png);
  background-size: cover;
}
.Brand .picBrand {
  background-image: url(/pictures/gbw_brand.png);
  background-position: center;
  background-size: 180%;
  box-shadow: 5px 10px 30px black;
  height: 350px;
}
@media (min-width: 700px) {
  .Brand .picBrand {
    height: 450px;
  }
}

.center-container {
  display: flex;
  padding: 2rem;
}
@media (min-width: 700px) {
  .center-container {
    padding: 5rem;
    justify-content: center;
  }
}
.center-container .catcher {
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .center-container .catcher {
    width: 60%;
  }
}
.center-container .catcher h1 {
  margin-bottom: 0.5rem;
}

footer {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-image: linear-gradient(135deg, #00dca1, #004690);
}
footer h4 {
  padding-bottom: 0.5rem;
}
footer .icons {
  display: flex;
  gap: 2rem;
}

.partners {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
}
.partners .refs {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (min-width: 700px) {
  .partners .refs {
    gap: 1rem;
  }
}
.partners .refs .fit img {
  width: 5rem;
  height: 3rem;
  object-fit: scale-down;
  box-sizing: content-box;
}
@media (min-width: 700px) {
  .partners .refs .fit img {
    width: 5rem;
    height: 4rem;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
}

h1 {
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  font-weight: 800;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 2rem;
  color: rgb(255, 255, 255);
}

p {
  font-weight: 500;
  line-height: 130%;
}

/* - - L I N K S - - - - */
a {
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(255, 255, 255);
}

a:active {
  color: rgb(255, 255, 255);
}

.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 700px) {
  .button-container {
    width: 45vw;
    justify-content: flex-start;
  }
}
.button-container .button {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  align-items: center;
  border: 3px solid #00ebb4;
  font-weight: 500;
}
.button-container .button:hover {
  background-color: #00ebb4;
  border: 3px solid #00ebb4;
  font-weight: 500;
}

#submit {
  background-color: transparent;
  border-radius: 100px;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  font-size: 1rem;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  border: 3px solid #00ebb4;
}
#submit:hover {
  background-color: #00ebb4;
  border: 3px solid #00ebb4;
  font-weight: 500;
}

hr {
  border: 1px solid rgb(255, 255, 255);
  margin: 2rem;
}

.icons {
  display: flex;
  font-size: 2rem;
}
@media (min-width: 700px) {
  .icons {
    font-size: 2.5rem;
  }
}

.logo-container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  height: 7rem;
}
@media (min-width: 700px) {
  .logo-container {
    padding-top: 2rem;
    height: 9rem;
  }
}

.field {
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  width: 100%;
}
.field:focus {
  outline: 3px solid #00ebb4;
}

/*# sourceMappingURL=style.css.map */
