* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  color: rgb(255, 255, 255);
}

textarea,
input {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: radial-gradient(circle at 0% 50%, #555555, #222222);
}

header {
  height: 650px;
}
@media (min-width: 700px) {
  header {
    height: 800px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}
@media (min-width: 700px) {
  .card {
    flex-direction: row;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.card .block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .card .block {
    width: 50%;
    justify-content: center;
  }
}

@media (min-width: 700px) {
  #card-reverse {
    flex-direction: row-reverse;
  }
}

.picMedia {
  height: 400px;
  background-color: grey;
}

.picWeb {
  height: 400px;
  background-color: grey;
}

.picBrand {
  height: 400px;
  background-color: grey;
}

.center-container {
  display: flex;
  padding: 2rem;
}
@media (min-width: 700px) {
  .center-container {
    padding: 5rem;
    justify-content: center;
  }
}
.center-container .catcher {
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .center-container .catcher {
    width: 60%;
  }
}

footer {
  display: flex;
  margin: 2rem;
  padding-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-image: linear-gradient(135deg, #00dca1, #004690);
}
footer h2 {
  padding-bottom: 0.2rem;
}
footer .icons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.partners {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
}
.partners .refs {
  display: flex;
  flex-wrap: wrap;
}
.partners .refs .fit img {
  margin-right: 3rem;
  margin-top: 3rem;
  width: 5rem;
  height: 3rem;
  object-fit: scale-down;
}
@media (min-width: 700px) {
  .partners .refs .fit img {
    align-content: flex-start;
    margin-right: 3rem;
    margin-top: 2rem;
    width: 7rem;
    height: 6rem;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
}

h1 {
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  font-weight: 800;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.3);
}

p {
  font-weight: 500;
  line-height: 130%;
}

.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 700px) {
  .button-container {
    width: 45vw;
    justify-content: flex-start;
  }
}
.button-container .button {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
  font-weight: 500;
}
.button-container .button:hover {
  background-color: rgb(255, 255, 255);
  color: #0078aa;
  font-weight: 500;
}

#submit {
  background-color: transparent;
  border-radius: 100px;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  font-size: 1rem;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}
#submit:hover {
  background-color: rgb(255, 255, 255);
  color: #0078aa;
  font-weight: 500;
}

.card {
  margin: 2rem;
  border-radius: 8px;
  background-image: linear-gradient(135deg, #00dca1, #004690);
}

hr {
  border: 1px solid rgb(255, 255, 255);
  margin: 2rem;
}

.icons {
  display: flex;
  font-size: 2rem;
}

.logo-container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  height: 7rem;
}
@media (min-width: 700px) {
  .logo-container {
    padding-top: 2rem;
    height: 9rem;
  }
}

.field {
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  width: 100%;
}
.field:focus {
  outline: 3px solid #00ffbb;
}

/*# sourceMappingURL=style.css.map */
