// @use "../node_modules/bootstrap/scss/bootstrap.scss";

;
$white100: rgba(255, 255, 255, 1);
$white50: rgba(255, 255, 255, 0.5);
$white30: rgba(255, 255, 255, 0.3);

// $gbw-light: #00ffbb;
$gbw-light: #00ebb4;
$gbw-dark: #0078aa;

$gbw-grad-light: linear-gradient(135deg, #00ffbb 20%, #0078aa 90%);
$gbw-grad-dark: linear-gradient(135deg, #00dca1, #004690);

$gbw-grad-back: radial-gradient(circle at 50% 50%, #555555, #111111);


// farbverlauf im Rahmen!!!
  // border: 10px solid transparent;
  // border-image: colors.$gbw-grad-light 5 5;
  // border-radius: 100px;