@use "../node_modules/bootstrap/scss/bootstrap.scss";

$mainCol: rgb(175, 175, 175);
$secCol: rgb(200, 200, 200);
$thiCol: rgb(225, 225, 225);
$white50: rgba(255, 255, 255, 0.5);
$white100: rgba(255, 255, 255, 1);

$gbw-light: #00ffbb;
$gbw-dark: #0078aa;

$gbw-grad: linear-gradient(135deg, #00ffbb, #0078aa 90%);

* {
  border: 1px solid greenyellow;
}
