// @use "../node_modules/bootstrap/scss/bootstrap.scss";
@use "colors";
// 
// 
// 
.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  @media (min-width: 700px) {
    width: 45vw;
    justify-content: flex-start;
  }

  .button {
    display: flex;
    justify-content: center;
    border-radius: 100px;
    padding-top: 1rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    align-items: center;
    border: 2px solid colors.$white100;
    font-weight: 500;
    &:hover{
      background-color: colors.$white100;
      color: colors.$gbw-dark;
      font-weight: 500;
    }
  }
}


#submit{
  background-color: transparent;
  border-radius: 100px;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  font-size: 1rem;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: colors.$white100;
  border: 2px solid colors.$white100;
  &:hover{
    background-color: colors.$white100;
    color: colors.$gbw-dark;
    font-weight: 500;
  }
}

hr {
  border: 1px solid colors.$white100;
  margin: 2rem;
}

.icons {
  display: flex;
  font-size: 2rem;
  @media (min-width: 700px) {
    font-size: 2.5rem;
  }
}

.logo-container{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  height: 7rem;
  @media (min-width: 700px) {
    padding-top: 2rem;
    height:9rem;
  }
}

.field{
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  width: 100%;
  &:focus{
    outline: 3px solid colors.$gbw-light;
  }
}