// @use "../node_modules/bootstrap/scss/bootstrap.scss";
@use "colors";
// 
// 
// 
.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  @media (min-width: 700px) {
    width: 45vw;
    justify-content: flex-start;
  }

  .button {
    display: flex;
    justify-content: center;
    border-radius: 100px;
    padding-top: 1rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    align-items: center;
    border: 2px solid colors.$white100;
  }
}

.button:hover{
  background-color: colors.$white100;
  color: colors.$gbw-dark;
}


.card {
  background-image: colors.$gbw-grad-dark;
}

hr {
  border: 2px solid colors.$white100;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.icons {
  display: flex;
  font-size: 2rem;
}

.logo-container{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  border: 1px solid hotpink;
  height: 7rem;
  @media (min-width: 700px) {
    padding-top: 2rem;
    height:12rem;
  }
}