// @use "../node_modules/bootstrap/scss/bootstrap.scss";

.btn{
    border: 1px solid black;
    border-radius: 100px;
    height: 50px;
    width: 80%;
}

.amazing{
    background-color: rgb(255, 150, 150);
}
