// @use "../node_modules/bootstrap/scss/bootstrap.scss";



*{
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

h1{

}

h3{
    color: red;
}

.icons{
    font-size: 2rem;
}