// @use "../node_modules/bootstrap/scss/bootstrap.scss";
@use "colors";

body {
  font-family: "Montserrat", sans-serif;
  color: colors.$white100;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
}

h2{
  font-weight: 800;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h3{
  margin-top: 2rem;
  color: colors.$white100;
}

p{
  font-weight: 500;
  line-height: 130%;
}

/* - - L I N K S - - - - */
a{
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  text-decoration: none;
}
a:link {
  color: colors.$white100;
}
a:visited {
  color: colors.$white100;
}
a:hover {
  color: colors.$white100;
}
a:active {
  color: colors.$white100;
}
