// @use "../node_modules/bootstrap/scss/bootstrap.scss";
@use "colors";

body {
  background-image: colors.$gbw-grad-back;
}

header {
  height: 650px;
  @media (min-width: 700px) {
    height: 800px;
  }
}


//
//
//
// C A R D S
//
.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  @media (min-width: 700px) {
    flex-direction: row;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .block {
    display: flex;
    flex-direction: column;
    @media (min-width: 700px) {
      width: 50%;
      justify-content: center;
    }
  }
}
// 
#card-reverse{
  @media (min-width: 700px) {
    flex-direction: row-reverse;
  }
}
//
// C A R D - P I C T U R E S
//
.picMedia {
  height: 400px;
  background-color: grey;
}
.picWeb {
  height: 400px;
  background-color: grey;
}
.picBrand {
  height: 400px;
  background-color: grey;
}
//
//
//
.center-container {
  display: flex;
  padding: 2rem;
  @media (min-width: 700px) {
    padding: 5rem;
    justify-content: center;
  }
  .catcher {
    display: flex;
    flex-direction: column;
    @media (min-width: 700px) {
      width: 60%;
    }
    // .button-container {
    //   justify-content: center;
    // }
  }
}
//
//
//
footer {
  display: flex;
  margin:2rem;
  padding-bottom:1rem;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-image: colors.$gbw-grad-dark;
  h2{
    padding-bottom: 0.2rem;
  }
  .icons {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
}

.partners{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 5rem;

  .refs{
    display: flex;
    flex-wrap: wrap;

    .fit{
      img{
      margin-right: 3rem;
      margin-top: 3rem;
      width: 5rem;
      height: 3rem;
      object-fit: scale-down;
        @media (min-width: 700px) {
          align-content: flex-start;
          margin-right: 3rem;
          margin-top: 2rem;
          width: 7rem;
          height: 6rem;
        }
      }
    }
  }
}