// @use "../node_modules/bootstrap/scss/bootstrap.scss";
@use "colors";

body {
  background-image: colors.$gbw-grad-back;
  background-attachment: fixed;
}

header {
  height: 650px;
  @media (min-width: 700px) {
    height: 800px;
  }
}


// C A R D S

.card {
  margin: 2rem;
  border-radius: 25px;
  object-fit: contain;
  background-position: center;

  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
  @media (min-width: 700px) {
    flex-direction: row;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 5rem;
    border-radius: 15px;
  }
  .block {
    display: flex;
    flex-direction: column;
    @media (min-width: 700px) {
      width: 50%;
      justify-content: center;
    }
  }
}
// 
#card-reverse{
  @media (min-width: 700px) {
    flex-direction: row-reverse;
  }
}
//
// C A R D - P I C T U R E S
//

.Media{
  background-image: url(/pictures/gbw_print_bg.png);
  background-size: cover;

  .picMedia {
    background-image: url(/pictures/gbw_print.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 10px 30px black;
    border: 1px solid colors.$white100;
    height: 250px;

    @media (min-width: 700px) {
      height: 300px;
    }
  }
}

.Web{
  background-image: url(/pictures/maddin_bg.png);
  background-size: cover;

  .picWeb {
    background-image: url(/pictures/gbw_web.png);
    background-position: center;
    background-size: cover;
    background-position: top;
    box-shadow: 5px 10px 30px black;
    height: 450px;

    @media (min-width: 700px) {
      height: 660px;
    }
  }
}

.Brand{
  background-image: url(/pictures/gbw_brand_bg.png);
  background-size: cover;

  .picBrand {
    background-image: url(/pictures/gbw_brand.png);
    background-position: center;
    background-size: 180%;
    box-shadow: 5px 10px 30px black;
    height: 350px;

    @media (min-width: 700px) {
      height: 450px;
    }
  }
}

.center-container {
  display: flex;
  padding: 2rem;
  @media (min-width: 700px) {
    padding: 5rem;
    justify-content: center;
  }
  .catcher {
    display: flex;
    flex-direction: column;
    @media (min-width: 700px) {
      width: 60%;
    }
    h1 {
      margin-bottom: 0.5rem;
    }
  }
}
//
//
//
footer {
  display: flex;
  margin-left:2rem;
  margin-right:2rem;
  margin-bottom: 3rem;
  padding:1rem;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-image: colors.$gbw-grad-dark;
  h4{
    padding-bottom: 0.5rem;
  }
  .icons {
    display: flex;
    gap: 2rem;
  }
}

.partners{

  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 5rem;

  .refs{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    @media (min-width: 700px) {
      gap:1rem;
    }

    .fit{

      img{
      width: 5rem;
      height: 3rem;
      object-fit: scale-down;
      box-sizing: content-box;
        @media (min-width: 700px) {
          width: 5rem;
          height: 4rem;
        }
      }
    }
  }
}